@font-face{
    font-family: BebasNeue;
    src: url('../fonts/BebasNeue-Regular.ttf');
}
@font-face{
    font-family: Schoolar;
    src: url('../fonts/Diamonds.ttf');
}
@font-face{
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face{
    font-family: RobotoThin;
    src: url('../fonts/Roboto-Light.ttf');
}
.grid-template{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;    
}

.side-title{
    text-align: center;
    width: 100%;
    color: #292929;
}
.side-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

.top-bar, .top-bar .menu{
    background-color: #292929!important;
    
    color: white;
}
.top-bar-logo{
    display: flex;
    flex-direction: row!important;
}
.top-bar .mateus{
    font-family: Schoolar;
    font-size: 1.5rem;
    display: flex;
    align-items: baseline;
}
.top-bar .arruda{
    font-family: BebasNeue;
    font-size: 1.5rem;
}
.schoolar-font{
    font-family: Schoolar;
    font-size: 5em;
}