.details{
    padding: 2em;
    min-height: 30em;
    background-image: url('../images/noise_darkest.png');
    display: grid;
    color: #ccc;   
    grid-template-columns: 3fr 4fr;
    grid-gap: 0 2em;
}
.details .image-container{    
    display: grid;
    grid-template-rows: auto auto 1fr;    
    grid-gap: 10px;
    align-items: flex-start;
}
.image-container-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}
.detail-image{
    margin: 0px 0;
}
.small{
    height: 150px;
    width: 100%;
}
.details .description-container{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.description-container .title{
    font-size: 3vw;    
}
.description-container .description{
    font-size: 1em;    
    text-align: justify;
}