.details{
    min-height: 30em;
    background-image: url('../images/noise_darkest.png');
    display: flex;
    color: white;   
    flex-direction: row; 
}
.details .image-container{
    flex-grow: 1;
}
.details .description-container{
    flex-grow: 3;
    color: red;
}