.left-projects{
    background-color: #aaaaaa;    
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-family: BebasNeue;
}

.project-thumbnail{
    margin: 10px;
    width: 45%;
    min-height: 240px;
    background-color: #ddd;
    flex-grow: 1;        
    -webkit-box-shadow: 0px 3px 10px -3px rgba(54,54,54,1);
    -moz-box-shadow: 0px 3px 10px -3px rgba(54,54,54,1);
    box-shadow: 0px 3px 10px -3px rgba(54,54,54,1);
    border-radius: 15px;    
}
.image-thumbnail img{
    width: 100%;
    border-radius: 15px;
    position: absolute;
    height: 240px;
    
}
.frame{
    position: relative;
}
.frame-description{
    height: 240px;    
    font-size: 1.5em;    
    color: #333;
    position: absolute; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 15px;
    font-family: RobotoThin;    
}
.empty-div{
    flex-grow: 1;
    width: 50%;
}

.left-projects .side-title{
    color: #292929;
    font-size: 3.0em;
    padding: 30px 0 0 0;
}