.left-projects{
    background-color: #aaaaaa;    
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-family: BebasNeue;
}

.project-thumbnail{
    margin: 10px;
    width: 45%;
    min-height: 320px;
    background-color: #ddd;
    flex-grow: 1;    
    padding: 15px 15px 0 15px;
    -webkit-box-shadow: 0px 3px 10px -3px rgba(54,54,54,1);
    -moz-box-shadow: 0px 3px 10px -3px rgba(54,54,54,1);
    box-shadow: 0px 3px 10px -3px rgba(54,54,54,1);
    border-radius: 2px;
}
.frame{    
    height: 80%;    
}
.image-thumbnail img{
    height:240px;
    width: 100%;
    border-radius: 3px;
}
.image-thumbnail .frame-description{
    font-size: 2.5em;
    font-family: Schoolar;
    color: #333;
}
.empty-div{
    flex-grow: 1;
    width: 50%;
}

.left-projects .side-title{
    color: #292929;
    font-size: 3.0em;
    padding: 30px 0 0 0;
}