
.my-description{
    font-family: BebasNeue;
    font-weight: 400;
    font-size: 15pt;
    color: #eee;
    width: 100%;
    text-align: center;
    background-image: url('./noise.png');
    padding: 50px;
}